
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

body {
  background-color: $main-app-color;
  font-family: $font-family-sans-serif !important;
}

nav {
  .nav-link {
    cursor: pointer;
  }
  box-shadow: $border-bottom-shadow;
}
.container-fluid {
  padding: 0;
  margin: 0 0 0;
  height:100vh;
  overflow-y: hidden;
}

.extend-to-all-viewport {
  height: 100%;
  width: 100%;
}

.page-content {
  margin-top: 54px;
  height: 100%;
  width: 100%;
}

#venue-list-component {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40vw;
  box-shadow: $border-bottom-shadow;
  background-color: rgba(255,255,255, .8);
}

.top-padding{
  padding-top: 55px;
}
.component-content{
  padding: 20px;
}

#venue-list-component {

  #venue-list-component-title {
    padding: 0;
    text-align: center;
    background-color: white;
    font-size: 40px;
    color: $main-app-color;
    position: absolute;
    width: 100%;
    top: 10vh;
  }
  #venue-list-component-actions {
    a, i {
      color: $main-app-color !important;
      cursor: pointer;
    }
    font-size: 25px;
    height: 50px;
    padding-left:20px;
    position: absolute;
    bottom: 60px;
  }
  #venue-list-component-search{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10vh;
  }
  .search-bar input[type=text]{
    width: 100%;
    background-color: $main-app-light-color;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 60px;
    position: absolute;
    bottom: 0;
    padding: 0 20px;
    border-bottom: 3px solid $main-app-color;
    font-size: 20px;
  }
  .search-bar input[type=text]:focus{
    outline: none;
  }
  #venue-list-component-uplist{
    height: 40vh;
    background-color: white;
    position: relative;
  }
  #venue-list-component-list{
    height: 60vh;
    .list-group {
      height: 60vh;
    }
  }
  #venue-list-component-list {

    .no-results {

      text-align: center;
      font-size: 25px;
      margin-top: 20px;

    }

    .list-group{
      overflow-y: scroll;
    }
    .list-group-item {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    a {
      padding-left: 70px;
      color: $main-app-color;
    }

  }

  // Component screen behaviours
  @media (min-height: 1080px){
    #venue-list-component-title {
      top: 7vh;
    }
    #venue-list-component-uplist{
      height: 20vh;
    }
    #venue-list-component-list {
      height: 80vh;
      .list-group {
        height: 80vh;
      }
    }
  }
  @media (max-height: 1079.98px){
    #venue-list-component-uplist{
      height: 32vh;
    }
    #venue-list-component-list {
      height: 68vh;
      .list-group {
        height: 68vh;
      }
    }
  }
  @media (max-height: 799.98px) {
    #venue-list-component-uplist{
      height: 30vh;
    }
    #venue-list-component-list {
      height: 70vh;
      .list-group {
        height: 70vh;
      }
    }
  }
  @media (max-height: 599.98px) {
    display: none;
  }

  i {
    color: $main-app-light-color !important;
  }
  .circle-icon {
    background: #16AA8C;
    color: #B1EAD5 !important;
    font-size: 4px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 9px 6px;
    position: absolute;
    top: 15px;
    left: 16px;
  }

  // Scrollbar
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: $main-app-color;
    border-radius: 10px;
  }
}

